#taskoverview-graph {
	.tasks {
		circle.node {
			stroke: #fff;
			stroke-width: 1.5px;
			text {
				pointer-events: none;
				font: 10px sans-serif;
			}
		}
		text.label {
			// font-size: 11px;
		}
		line.link {
			stroke: #999;
			stroke-opacity: .6;
		}
	}
}
