<header>
	<h1>build-debian-cloud</h1>
	<p>Script to create Debian images for Amazon EC2, Google Compute Engine and Virtualbox</p>

	<p class="view"><a href="https://github.com/andsens/build-debian-cloud">View the Project on GitHub <small>andsens/build-debian-cloud</small></a></p>

	<ul>
		<li><a href="https://github.com/andsens/build-debian-cloud/zipball/master">Download <strong>ZIP File</strong></a></li>
		<li><a href="https://github.com/andsens/build-debian-cloud/tarball/master">Download <strong>TAR Ball</strong></a></li>
		<li><a href="https://github.com/andsens/build-debian-cloud">View On <strong>GitHub</strong></a></li>
	</ul>
</header>
