---
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700">
		<link rel="stylesheet/less" type="text/css" href="css/base.less">
		{% for href in page.less %}
			<link rel="stylesheet/less" type="text/css" href="{{ href }}">
		{% endfor %}

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
		<script type="text/coffeescript">
			$ ->
				headings = ($ 'h2[id]')
				if headings.length > 1
					headings.each (i) ->
						$h = $ @
						li = $ "<li><a href=\"##{$h.attr 'id'}\">#{$h.text()}</a></li>"
						($ '#heading-nav ul').append li
						li.addClass 'active' if i is 0
				($ 'body').scrollspy target: '#heading-nav'
		</script>
	</head>
  <body class="{{ page.id }}">
		<div class="container">
			<div class="row">
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="index.html">Introduction</a></li>
						<li><a href="manifest.html">Manifest</a></li>
						<li><a href="providers.html">Providers</a></li>
						<li><a href="plugins.html">Plugins</a></li>
						<li><a href="development.html">Development</a></li>
						<li><a href="taskoverview.html">Taskoverview</a></li>
					</ul>
				</nav>
			</div>
			<main class="row">
				<aside class="col-sm-0 col-md-2" id="heading-nav">
					<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="200"></ul>
				</aside>
				<section class="col-sm-12 col-md-10">
		    	<header><h1>{{ page.heading }}</h1></header>
		      {{ content }}
				</section>
			</main>
		</div>
		<script type="text/javascript" src="js/analytics.js"></script>
  </body>
</html>
